@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800;1000&display=swap");
@import url("lucide-static/font/lucide.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    touch-action: pan-y;
}

@font-face {
    font-family: "Lucide";
    src: url("/assets/lucide-4Uw_5IKl.woff2?t=170") format("woff2");
    font-display: swap;
}
